*{
    padding: 0px;
    margin: 0px;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
}
.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}
/* 手機版 RWD 顯示設定 */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(255, 145, 0, 0.95);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        text-align: center;
        padding: 10px;
    }
}
